form {
  padding: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(76, 0, 255);
  height: 100px;
}

form input {
  width: 250px;
  height: 50px;
}
form button {
  color: white;
  height: 50px;
  background-color: black;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin: 10px;
  background-color: rgb(68, 0, 226);
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  text-decoration:underline;
}
